@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* navbar section */
.nav-container {
  margin: 0 2rem;
}
#logo {
  max-width: 8rem;
}

.search-form {
  position: relative;
}

.search-icon i {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 50%;
  transform: translate(-100%, -50%);
}

.nav-link-container {
  display: flex;
  padding-left: 0;
}

.nav-link-container li,
.nav-sign-in li,
.footer-content-container ul li {
  list-style-type: none;
}

.nav-link-container .nav-link-items a,
.nav-sign-in li a,
.useful-links-col li a,
.footer-social-media-icons span a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.nav-link-container .nav-link-items a {
  padding: 0 1.5rem;
}

.hamburger-toggle {
  display: none;
}

.nav-sign-in {
  display: flex;
  justify-content: space-between;
}

.nav-sign-in span {
  display: inline-block;
  margin: 0 1.5rem;
}

.search-input {
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 1px solid #000;
  opacity: 50%;
}

.shop-items {
  padding: 1rem;
  margin-top: 2rem;
  width: 20vw;
}

.shop-items span {
  display: block;
}

.shop-items span a {
  opacity: 0.5;
  transition: cubic-bezier(1, 0, 0, 1) 0.3s;
}

.shop-items span a:hover,
.shop-items span a:focus,
.shop-items span a:active {
  color: #32502e;
  opacity: 1;
}
/* carousel section */
.carousel-inner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* about us section */
.about-us-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 10rem;
}

h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #32502e;
}

.about-us-text p {
  margin: 2rem 0;
}

.about-us-image img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* service features section */
.service-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin: 0 10rem;
  text-align: center;
}

.service-features-icon i {
  color: #32502e;
  font-size: 4rem;
  display: inline-block;
  margin: 1rem 0;
}

.service-features-title {
  text-transform: uppercase;
  color: #32502e;
}

/* plant identifier section */
.plant-identifier {
  position: relative;
  height: 50vh;
}

.plant-identifier-wrapper {
  margin: 10rem auto 0;
  text-align: center;
  width: 50vw;
}

.plant-identifier-title {
  color: #32502e;
}

.link-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #32502e;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  transition: 0.3s;
}

.link-button:hover {
  color: #32502e;
  background-color: #fff;
  border: 1px solid #32502e;
}

.plant-identifier img {
  position: absolute;
}

.plant-identifier img[src="./images/leaf.svg"] {
  top: -20%;
}

.plant-identifier img[src="./images/leaf-2.svg"] {
  right: 0;
  top: 10%;
  width: 15%;
}

/* shop by category section */
.shop-by-category {
  margin-top: 10rem;
}

.shop-category-label {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.sub-title {
  color: #32502e;
  text-transform: uppercase;
  font-weight: bold;
}

.show-all-category {
  text-decoration: none;
  color: #32502e;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.3s;
}

.show-all-category:hover {
  opacity: 50%;
}

.shop-category-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 0 2rem;
}

.shop-category-items {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
}

.shop-category-items .category-label {
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  display: block;
  width: auto;
  height: 100%;
  background-color: transparent;
  color: transparent;
  font-weight: bold;
  padding-top: 4rem;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.shop-category-items .category-label:active,
.shop-category-items .category-label:hover,
.shop-category-items .category-label:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* blogs section */
.blogs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin: 0 2rem;
}

.blogs-container .blogs-items img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.blogs-container .blogs-items .blogs-links {
  text-decoration: none;
  color: #32502e;
}

.blog-date {
  color: #32502e;
}

/* footer */
.newsletter {
  background-color: #ece7b4;
  color: #32502e;
  margin-top: 10rem;
}

.newsletter-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.newsletter-title {
  font-weight: bold;
}

.newsletter form {
  width: 50%;
}

.newsletter-btn {
  border: 1px solid #32502e;
  width: 10rem;
  display: block;
}

.newsletter-input {
  border: 1px solid #32502e;
  padding: 0.8rem 1rem;
  width: 70%;
}

/* footer section */
footer {
  background-color: #f3efcc;
}

.footer-container {
  padding: 2rem;
}

.footer-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-logo-container {
  margin-bottom: 1rem;
}
.footer-content-label {
  color: #32502e;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-social-media-icons {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.footer-social-media-icons span i {
  font-size: 2.5rem;
  transition: 0.3s;
}

.useful-links-col li a:hover,
.useful-links-col li a:focus,
.useful-links-col li a:active,
.footer-social-media-icons span i:hover,
.footer-social-media-icons span i:focus,
.footer-social-media-icons span i:active {
  color: #32502e;
}

.social-media-col .accredited-payments .footer-content-label {
  margin: 2rem 0 1rem;
}

.social-media-col .accredited-payments img {
  display: inline-block;
  width: 3rem;
  margin-right: 1rem;
}

.copyright {
  opacity: 0.8;
  color: #212121;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding: 1rem 0;
  text-align: center;
}

/* mobile view */

@media (max-width: 800px) {
  /* navbar section mobile */
  .hamburger-toggle {
    border: none;
    background-color: transparent;
    display: block;
  }

  .hamburger-toggle span i {
    font-size: 2rem;
    color: #000;
  }

  .nav-link-container,
  .nav-sign-in {
    flex-direction: column;
    text-align: center;
  }

  .search-input {
    width: 100%;
  }

  .nav-sign-in span {
    display: none;
  }

  .nav-sign-in {
    padding: 0;
  }

  .nav-link-container .nav-link-items a,
  .nav-sign-in li a,
  form {
    margin: 0.5rem 0;
  }

  .dropdown-menu {
    width: 100%;
  }

  /* about us section mobile */
  div.about-us-wrapper,
  div.service-features {
    grid-template-columns: 1fr;
    margin: 4rem 2rem;
    text-align: center;
    gap: 2rem;
  }

  div.about-us-text {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .about-us-image img {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* service features mobile*/
  /* plant identifier section mobile*/
  div.plant-identifier-wrapper {
    margin: 4rem 2rem;
    text-align: center;
    width: 90%;
  }

  .plant-identifier-title {
    padding-top: 5rem;
  }

  .plant-identifier img[src="./images/leaf.svg"] {
    top: -20%;
    width: 6rem;
  }

  .plant-identifier img[src="./images/leaf-2.svg"] {
    right: 0;
    top: unset;
    bottom: -40%;
    width: 15%;
  }

  /* shop category section mobile*/
  .shop-category-label {
    flex-direction: column;
    text-align: center;
    margin: 0 2rem;
  }

  .shop-category-items-container {
    grid-template-columns: 1fr 1fr;
  }

  .show-all-category {
    margin-bottom: 2rem;
  }

  /* blogs section mobile */

  .blogs-container {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 0 2rem;
  }

  /* footer section mobile */
  .newsletter-container {
    flex-direction: column;
    text-align: center;
  }

  .newsletter-container form {
    width: 100%;
  }

  .newsletter-container .newsletter-input,
  .newsletter-container .newsletter-btn {
    width: 100%;
  }

  .footer-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-us-col,
  .social-media-col {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  div.footer-social-media-icons {
    margin: 0 auto;
  }

  div.accredited-payments-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
  }
  .social-media-col .accredited-payments img {
    margin: 0;
  }

  p.footer-content-label {
    text-align: center;
  }
}

/* All Plants CSS c/o Gio  STARTS HERE*/

.subContainer {
  margin-top: 0.75rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 1rem;
  line-height: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 18rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

#imageCard {
  height: 20rem;
}

img .card-img-top {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* padding-left: 2rem; */
  align-items: center;
  justify-content: space-evenly;
}

.price {
  padding-top: 0.3rem;
  font-size: 1.25rem;
  color: rgb(40, 107, 40);
  padding-left: 1rem;
}

.commonName {
  font-size: 1rem;
}

.priceAndFavoriteDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 996;
  /* font-size: 2rem;  */
  /* padding:.75rem; */
  /* border: 1px solid rgb(227, 79,38); */
  color: rgb(4, 63, 7);
  /* background-color: rgba(0,0,0,0.5); */
  /* width:5.3rem; */
  /* border-radius: 50%;   */
}

#myBtn:hover {
  color: rgb(106, 175, 133);
}
/* All Plants CSS c/o Gio  ENDS HERE*/

.identifier .navbar{
  background-color:#fff;
}

.identifier .main-container{
    display:flex;
    /* flex-direction:column; */
    align-items: center;
    justify-content:space-evenly;
    row-gap: 5rem;
    column-gap: 2rem; 
    padding-bottom: 5rem;; 
}

/* .identifier .navbar.navbar-expand{
  padding-bottom:5rem;
} */

.identifier, h1{
  text-align: center;
  /* margin-top: 5rem; */
  padding-bottom: 10rem;
}

.identifier .mainImage{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-top: 2rem;
  

}

.identifier .image-url{
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

}

.identifier .mainCardDiv .card{
  display:flex;
  width:10rem;
  margin-top: 2rem;
  background-color:#32502e;
  border-radius:0.3rem;
  align-items:center;
  justify-content: center;
}



.identifier .localImage{
  width:100%;
  background-color:#32502e;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.identifier .cardParagraphClass{
  text-align: center;
  color:#ece7b4;
  padding-top: 0.5rem;

}

.identifier.card{
display: flex;
width:10rem;
background-color:#32502e;
border-radius:0.3rem;
align-items:center;
justify-content: center;
margin-top: 3rem;

}

.identifier .mainPlantDetailsDiv{

display:flex;
flex-direction: column;
column-gap: 1rem;
align-items: flex-start;
justify-content: center;
padding-top: 1rem;
padding-left: 3rem;

}

.identifier.divForm{
  /* padding-top:5rem; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.identifier #search-btn{
background-color:#32502e;
color:#fff;
border-radius:0.3rem;
width:7.5rem;
height:2rem;

}

.identifier, #search-btn:hover{
background-color:#fff;
color:black;

}


.identifier, input[type=file]::file-selector-button{
background-color:#32502e;
border-radius:0.3rem;
color:#fff;
}

.identifier .reload{
  background-color:#32502e;
  border-radius:0.3rem;
  color:#fff;
  width:7.5rem;
  height:2rem;
  margin-left: 0.50rem;
}

.identifier .reload:hover{
  background-color:#fff;
 
  color:black;
}

.identifier .wrapper-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.identifier, input[type=file]::file-selector-button:hover{
background-color:#fff;
color:black;
}

/* h1{
  padding-top: 2rem;
  padding-bottom: 6rem;
} */


/* HOVER EFFECTS OF IMAGE */
.card figure {
	background: #01271f;
}
.card figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card figure:hover img {
	opacity: .5;
}

/* All Plants CSS c/o Gio  ENDS HERE*/


/* MODAL STYLE FOR SPECIFIC PLANT WHEN CLICK */
.wrap{
  display:flex;
  gap:2rem;
  align-items: center;
  justify-content:center;
 
}

.modal{
  pointer-events: none;
}

.modal-dialog{
  pointer-events: all;
}

/* LOADING */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #056e24;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

H1{
  padding-top: 10rem;
}

/* contact section */
.map{
margin-top: 10rem;
}

.contact-us {
  margin-top: 10rem;
  padding: 70px 0px;
  background: inherit;
  text-align: center;
  
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title h2 {
  color: #32502e;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-bottom: 10px;
  display: inline-block;

}

.section-title p {
  color: #000000;
  margin-bottom: 30px;
  
}

.contact-us input,
.contact-us textarea {
    background: #fafafa;
    margin-top: 5px;

}
.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
    margin-top: 5px;
}
.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}

.bob-forms{
  display: inline-flex;
}

.form-row {
  display: inline-flex;
  margin: 0;
  padding: 0;
  justify-items: space-between;
}

.bob-title{
  font-size: 18px;
  font-weight: bold;
  color: #32502e;
}

.bob-infos{
    display: flex;
    justify-items: start;
    flex-direction: column;
    align-items: flex-start;
}

.bob-infos p{
text-align: start;
margin-top: 5px;
font-size: 15px;
}

.bob-email{
margin-top: 10px;
}

.contact-btn{
  background-color: #32502e;
  color: #fff;
  border-radius: 4px;
  width: 100%;
}

.all-contact-forms{
  display: grid;
  margin-top: 8rem;
  justify-content: space-between;
}

#contact-name,
#contact-lastname{
  width: 15rem;
  margin-bottom: 3px;
}

#contact-email,
#contact-message{
    margin-bottom: 5px;
}



